<div class="media-box">
  <md-card>
    <div class="media-box-inner">
      <img class="media-box-inner-image" ng-src="{{album.imageLink}}" alt="{{ album.artistName }}"/>
      <div class="media-box-meta">
        <a href="" ui-sref="msl.album({albumId: album.albumId})">
            {{ album.albumName }}
        </a><br /> {{album.artistName}}, {{album.year}}
      </div>
      <div class="media-box-overlay">
        <div class="media-box-overlay-control">
          <a href="" ng-if="!album.inMyLibrary" add-to-library id="album.albumId" type="album">
            <i class="fa fa-heart"></i> Add to library
          </a>
          <a href="" ng-if="album.inMyLibrary">
            <i class="fa fa-ban"></i> Remove from library
          </a>
        </div>
      </div>
    </div>
  </md-card>
  <div class="info-panel">
    <div star-rating="album.averageRating" song-id="album.albumId"></div>
  </div>
</div>
