$orange-1: #FF9800;
$orange-2: #E65100;
// Star rating
//
// Element for rating a song.
//
// Note: Markup is used for display purposes only, developers should use
// `starRating` directive.
//
// Markup:
// <ul class="star-rating list-unstyled">
//   <li><button type="button" class="material-icons">star</button></li>
//   <li><button type="button" class="material-icons">star</button></li>
//   <li><button type="button" class="material-icons">star</button></li>
//   <li><button type="button" class="material-icons">star</button></li>
//   <li><button type="button" class="material-icons">star</button></li>
// </ul>
//
// Styleguide 3.6

.star-rating {
  clear: both;
  display: block;
  float: left;
  max-width: 150px;
  padding: 0;

  li {
    display: block;
    float: left;
  }

  button, a {
    color: $orange-2;
    cursor: pointer;
    border: 0 none;
    background: none;
    padding: 0;
  }

  span {
    font-size: 16px;
    float: left;
    margin-left: 6px;
  }

  &.rating-readonly {
    button.material-icons {
      cursor: default;
    }
  }

  &.personal-rating {
    button, a {
      color: $orange-1;
    }
  }

  .info-panel & {
    margin-top: 6px;
  }
}
