// Star rating
//
// Element for rating a song.
//
// Note: Markup is used for display purposes only, developers should use
// `starRating` directive.
//
// Markup:
// <ul class="star-rating list-unstyled">
//   <li>
//    <button type="button" class="btn fa fa-star"></button>
//   </li>
//   <li>
//    <button type="button" class="btn fa fa-star"></button>
//   </li>
//   <li>
//    <button type="button" class="btn fa fa-star"></button>
//   </li>
//   <li>
//    <button type="button" class="btn fa fa-star-o"></button>
//   </li>
//   <li>
//    <button type="button" class="btn fa fa-star-o"></button>
//   </li>
// </ul>
//
// Styleguide 3.10

.star-rating {
  display: inline-block;

  li {
    display: inline-block;
  }

  button {
    cursor: pointer;
    border: 0 none;
    background: none;
    padding: 2px;
  }

  &.rating-readonly {
    button.fa {
      cursor: default;
    }
  }
}
