<div class="media-box">
  <md-card>
    <div class="media-box-inner">
      <img class="media-box-inner-image" ng-src="{{song.imageLink}}" alt="{{ song.artistName }}"/>
      <div class="media-box-meta">
        <a ui-sref="msl.song({songId: song.songId})">
            {{ song.songName }}
        </a>
        <span class="track-length">{{ song.duration | timeFilter: 'MM:SS'}}</span>
      </div>
      <div class="media-box-overlay">
        <div class="media-box-overlay-control">
          <i class="fa fa-play"></i> Play
        </div>
        <div class="media-box-overlay-control">
          <a href="" ng-if="!song.inMyLibrary" add-to-library id="song.songId" type="song">
            <i class="fa fa-heart"></i> Add to library
          </a>
          <a href="" ng-if="song.inMyLibrary" remove-from-library id="song.songId" type="song">
            <i class="fa fa-ban"></i> Remove from library
          </a>
        </div>
      </div>
    </div>
  </md-card>
  <div class="info-panel">
    <div><a ui-sref="msl.artist({artistId: song.artistId})">{{ song.artistName }}</a></div>
    <div>{{ song.songName }}: {{ song.albumName }}, {{ song.year }}</div>
    <div star-rating="song.averageRating" entity-id="song.songId" entity-type="song"></div>
  </div>
</div>
