<div class="media-box">
  <md-card>
    <div class="media-box-inner">
      <img class="media-box-inner-image" ng-src="{{song.imageLink}}" alt="{{ song.artistName }}"/>
      <div class="media-box-meta">
        <a ui-sref="msl.song({songId: song.songId})">
            {{ song.songName }}
        </a>
        <span class="media-box-track-length">{{ song.duration | timeFilter: 'MM:SS'}}</span>
      </div>
      <div class="media-box-overlay">
        <div class="media-box-overlay-control">
          <i class="material-icons">play_circle_filled</i> <span class="icon-label">Play</span>
        </div>
        <div class="media-box-overlay-control">
          <a href="" ng-if="vm.authentication.isAuthenticated() && !song.inMyLibrary && !vm.isLibraryPage()" add-to-library id="song.songId" type="song">
            <i class="material-icons">favorite</i> <span class="icon-label">Add to library</span>
          </a>
          <a href="" ng-if="vm.authentication.isAuthenticated() && (song.inMyLibrary || vm.isLibraryPage())" remove-from-library id="song.songId" timestamp="song.favoritesTimestamp" type="song">
            <i class="material-icons">not_interested</i> <span class="icon-label">Remove from library</span>
          </a>
        </div>
      </div>
    </div>
  </md-card>
  <div class="info-panel">
    <div><a ui-sref="msl.artist({artistId: song.artistId})">{{ song.artistName }}</a></div>
    <div>{{ song.songName }}: {{ song.albumName }}, {{ song.year }}</div>
    <div star-rating="song.averageRating" personal-rating="song.personalRating" entity-id="song.songId" entity-type="song" entity="song"></div>
  </div>
</div>
