<!doctype html>
<html ng-app="msl">
  <head>
    <title>Million Songs Library</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% for (var item in o.htmlWebpackPlugin.files.css) { %}
    <link rel="stylesheet" href="{%=o.htmlWebpackPlugin.files.css[item] %}">
    {% } %}
  </head>
  <body>
    <div ui-view></div>
    {% for (var item in o.htmlWebpackPlugin.files.js) { %}
    <script src="{%=o.htmlWebpackPlugin.files.js[item] %}"></script>
    {% } %}
  </body>
</html>
