/client/bower_components
/client/node_modules
/client/build
/client/coverage
/client/swagger/api/swagger/swagger.json

/target
/server/target
/server/src/gen/java/io/swagger/api/*.java
/server/src/gen/java/io/swagger/model
/server/src/main/webapp
/server/pom.xml
/server/swagger-jaxrs-server.iml

/common/swagger-codegen
*-compiled.js
*-compiled.js.map
.DS_Store
.idea
npm-debug.log
*.sublime-project
*.sublime-workspace
*.pyc
*.project
*.classpath
*.settings
*.csv
*.txt
