/client/bower_components
/client/node_modules
/client/build
/client/coverage
/client/swagger/api/swagger/swagger.yaml
/client/swagger/api/swagger/paths.yaml
/target

/server/models

/common/swagger-codegen
*-compiled.js
*-compiled.js.map
.DS_Store
.idea
npm-debug.log
*.sublime-project
*.sublime-workspace
*.pyc
*.project
*.classpath
*.settings
*.csv
*.txt
