<h3> Rating </h3>
<ul>
  <li ng-repeat='rating in vm.ratingFacets'>
    <ul class="star-rating list-unstyled" ng-class='rating-readonly'>
      <a href=""
         ng-click="vm.applyRatingFilter(rating.facetId)"
         ng-init="rating.stars = vm.getStars(rating)"
         ng-class="{ 'active': vm.isActiveRating(rating.facetId) }">
        <li ng-repeat="star in rating.stars track by $index">
          <button ng-if="star.filled" type="button" class="material-icons">star</button>
          <button ng-if="!star.filled" type="button" class="material-icons">star_outline</button>
        </li>
        <span>&amp; up</span>
      </a>
    </ul>
    <md-button class="btn-facet-clear" ng-click="vm.applyRatingFilter('')" ng-show="vm.isActiveRating(rating.facetId)">
      <span aria-hidden="true">&times;</span>
    </md-button>
  </li>
</ul>
