<div class="media-box">
  <md-card>
    <div class="media-box-inner">
      <img class="media-box-inner-image" ng-src="{{artist.imageLink}}" alt="{{ artist.artistName }}"/>
      <div class="media-box-meta">
        <a href="" ui-sref="msl.artist({artistId: artist.artistId})">
          {{ artist.artistName }}
        </a>
      </div>
      <div class="media-box-overlay">
        <div class="media-box-overlay-control">
          <a href="" ng-if="vm.authentication.isAuthenticated() && !artist.inMyLibrary && !vm.isLibraryPage()" add-to-library id="artist.artistId" type="artist">
            <i class="material-icons">favorite</i> <span class="icon-label">Add to library</span>
          </a>
          <a href="" ng-if="vm.authentication.isAuthenticated() && (artist.inMyLibrary || vm.isLibraryPage())" remove-from-library id="artist.artistId" timestamp="artist.favoritesTimestamp" type="artist">
            <i class="material-icons">not_interested</i> <span class="icon-label">Remove from library</span>
          </a>
        </div>
      </div>
    </div>
  </md-card>
  <div class="info-panel">
    <div star-rating="artist.averageRating" personal-rating="artist.personalRating" entity-id="artist.artistId" entity-type="artist"></div>
  </div>
</div>
