@import "../../../styles/core";

// Player
//
// Player element for playing a song.
//
// Markup:
// <footer class="player-footer">
//   <div class="container">
//     <div class="btn-group">
//       <button class="md-raised md-button icon-button">
//        <i class="material-icons">fast_rewind</i>
//      </button>
//      <button class="md-raised md-button icon-button">
//        <i class="material-icons">play_arrow</i>
//      </button>
//      <button class="md-raised md-button icon-button">
//        <i class="material-icons">fast_forward</i>
//      </button>
//      <button class="md-raised md-button icon-button">
//        <i class="material-icons">volume_up</i>
//      </button>
//     </div>
//     <div>Artist Name - Track ID</div>
//     <div class="track-timeline"></div>
//     <div>
//       <button class="md-raised md-button icon-button" ng-click="player.close()">
//        <i class="material-icons">highlight_off</i>
//      </button>
//     </div>
//   </div>
// </footer>
//
// Styleguide 3.5

#kss-node {
  .player-footer {
    position: static;

    .container { width: 100%; }
  }
}

.player-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: $gray-4;
  border-top: 1px solid $gray-3;
  padding: 10px;

  .container {
    @include display-box;
    @include box-direction(row);
    @include justify-content(center);
    @include align-items(center);

    & > div {
      margin-left: 15px;
      margin-right: 15px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    .track-timeline {
      //.flex(2013, auto);
    }
  }
}
