<div class="artist-box">
  <div class="image-container">
    <img class="img-responsive center-block" ng-src="{{artist.imageLink}}" alt=""/>

    <div class="image-overlay">
      <div class="overlay-control">
        <a href="" add-to-library id="artist.artistId" type="artist">
          <i class="fa fa-heart"></i> Add to library
        </a>
      </div>
    </div>
  </div>

  <div class="info-panel">
    <div class="header">
      <div class="col-sm-12 container-title">
        <span>
          <a href="" ui-sref="msl.artist({artistId: artist.artistId})">
            {{ artist.artistName }}
          </a>
        </span>
      </div>
    </div>
    <div class="content">
      <div star-rating="artist.averageRating" song-id="artist.artistId"></div>
    </div>
  </div>
  <div class="clear"></div>

</div>
