<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">

      <div class="row">
        <div class="artist-info col-md-12">
          <span class="pull-right">
            <a href="" add-to-library id="vm.artistId" type="artist">
              <i class="fa fa-heart-o"></i> Add Artist to Library
            </a>
          </span>
          <h1 class="artist-name">{{vm.model.artist.artistInfo.artistName}}</h1>
          <div star-rating="vm.model.artist.artistInfo.averageRating" song-id="vm.model.artist.artistInfo.artistId"></div>
        </div>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link"
             ng-class="{'active': vm.activeTab === 'songs'}"
             ng-click="vm.activeTab = 'songs'"
             href="" role="tab" data-toggle="tab">Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ng-class="{'active': vm.activeTab === 'albums'}"
             ng-click="vm.activeTab = 'albums'"
             href="" role="tab" data-toggle="tab">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ng-class="{'active': vm.activeTab === 'artists'}"
             ng-click="vm.activeTab = 'artists'"
             href="" role="tab" data-toggle="tab">Similar artists</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel"
             ng-class="{'active': vm.activeTab === 'songs'}"
             class="tab-pane" id="home">
          <songs-table loading="!vm.displaySongs" songs="vm.model.artist.artistSongs.songs"></songs-table>
        </div>
        <div role="tabpanel"
             ng-class="{'active': vm.activeTab === 'albums'}"
             class="tab-pane" id="profile">
          <albums-list albums="vm.model.artist.artistAlbums.albums"></albums-list>
        </div>
        <div role="tabpanel"
             ng-class="{'active': vm.activeTab === 'artists'}"
             class="tab-pane" id="messages">
          <artists-list artists="vm.model.artists"></artists-list>
        </div>
      </div>

    </div>
  </div>
</div>
