<div class="login-max-container text-center">
  <h1> Login </h1>
  <form name="credentials" ng-submit="vm.submit()">
    <div class="form-group"
         ng-class="{'has-error': credentials.email.$invalid && credentials.email.$dirty}">
      <input type="email" name="email" ng-model="vm.email" class="form-control"
             placeholder="Email address" required autofocus>
    </div>
    <div class="form-group"
         ng-class="{'has-error': credentials.password.$invalid && credentials.password.$dirty}">
      <input type="password"
             name="password"
             ng-model="vm.password"
             class="form-control"
             placeholder="Password"
             required>
      <ul ng-messages="credentials.password.$error" ng-show="credentials.password.$dirty" class="form-errors">
        <li ng-message="required" class="input-field-error"> This is required! </li>
      </ul>
    </div>
    <div class="alert alert-danger" ng-if="vm.hasError" role="alert">
      <strong>Oh snap!</strong>
      Credentials are invalid!
    </div>
    <button name="login" class="md-button md-ink-ripple" type="submit" ng-disabled="credentials.$invalid">
      Sign in
    </button>
  </form>
</div>
