<nav class="navbar navbar-default navbar-fixed-top" ng-controller="headerCtrl as header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="default.home">
        Million Songs Library
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a ui-sref="default.home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="default.some">Some</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="default.artist">Artist</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-if="header.authorised === false">
      <li>
        <a ui-sref="default.login">Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-if="header.authorised === true">
      <li>
        <p class="navbar-text">
          <i class="fa fa-fw fa-user"></i>
          {{header.login}}
        </p>
      </li>
      <li>
        <a href ng-click="header.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container default-container" ui-view></div>
