<div class="row">
  <div class="horizontal-layout col-xs-12 col-lg-6" ng-repeat="album in albums track by $index">
    <div class="image-container small-image">
      <img class="img-responsive small-image" ng-src="{{album.linkToImage}}" alt=""/>

      <div class="image-overlay">
        <a ui-sref="msl.album({albumId: album.albumId})">
          <div class="overlay-control first-control">
            <i class="fa fa-external-link"></i> Open {{ album.albumId }}
          </div>
        </a>
      </div>
    </div>
    <div class="track-info">
      <div class="track-artist-name-container">
        <h2>{{ album.albumName }}</h2>

        <p>{{ album.artist }}</p>
      </div>
      <div>
        <span class="text-gray">{{ album.genre }}</span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
