#login-modal {
  input {
    width: 215px;
  }

  .error-messages > div {
    max-width: 215px;
    padding-right: 0;
  }

  .cancel-button {
    cursor: pointer;
  }

  md-input-container {
    margin-top: 5px;
  }

  button[type=submit] {
    margin-right:20px;
  }
}
