
// ==========================================================================
// Variables
// ==========================================================================

// Colors - Raw
//
// These are the lowest level color variables.
//
// <ul class="list-unstyled">
//   <li>
//     <div class="color-sample" style="background-color: #000000;">
//       <strong>$black:</strong> #000000
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #777777;">
//       <strong>$gray-1:</strong> #777777
//     </div>
//   </li>
//   <li>
//     <div class="color-sample-light" style="background-color: #CCCCCC;">
//       <strong>$gray-2:</strong> #CCCCCC
//     </div>
//   </li>
//   <li>
//     <div class="color-sample-light" style="background-color: #e7e7e7;">
//       <strong>$gray-3:</strong> #e7e7e7
//     </div>
//   </li>
//   <li>
//     <div class="color-sample-light" style="background-color: #f8f8f8;">
//       <strong>$gray-4:</strong> #f8f8f8
//     </div>
//   </li>
//   <li>
//     <div class="color-sample-light" style="background-color: #ffffff;">
//       <strong>$white:</strong> #ffffff
//     </div>
//   </li>
// </ul>
//
// Styleguide 1.1

$black: #000000;
$gray-1: #777777;
$gray-2: #CCCCCC;
$gray-3: #e7e7e7;
$gray-4: #f8f8f8;
$white: #ffffff;

// Colors - Semantic
//
// Semantic color variables map to both generic and raw color variables, and
// allow us to name values based on their intended application.
//
// <ul class="list-unstyled">
//   <li>
//     <div class="color-sample" style="background-color: #000000;">
//       <strong>$color-text:</strong> $black
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #777777;">
//       <strong>$color-text-grey:</strong> $gray-1
//     </div>
//   </li>
// </ul>
//
// Styleguide 1.2

$color-text: $black;
$color-text-grey: $gray-1;

.color-sample-light,
.color-sample {
  padding: 10px 16px;
  color: $black;
}
.color-sample {
  color: $white;
}



// Typography
//
// ```
// $defaultFont: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $baseFontSize: 14px;
// ```
//
// Styleguide 1.3

$defaultFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 14px;
