<div class="container">
  <div class="row">
    <div class="col-lg-3 msl-sidebar">
        <genre-filter></genre-filter>
        <rating-filter></rating-filter>
    </div>

    <div class="col-lg-9 msl-main-content">
      <div class="row">
        <div class="col-xs-12">
          <h1 ng-hide="!!vm.model.selectedGenre">Featured</h1>

          <h1 ng-show="!!vm.model.selectedGenre">{{vm.model.selectedGenre}}</h1>
        </div>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link"
             ng-class="{'active': vm.activeTab === 'songs'}"
             ng-click="vm.activeTab = 'songs'"
             href="" role="tab" data-toggle="tab">Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ng-class="{'active': vm.activeTab === 'albums'}"
             ng-click="vm.activeTab = 'albums'"
             href="" role="tab" data-toggle="tab">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ng-class="{'active': vm.activeTab === 'artists'}"
             ng-click="vm.activeTab = 'artists'"
             href="" role="tab" data-toggle="tab">Artists</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel"
             ng-class="{'active': vm.activeTab === 'songs'}"
             class="tab-pane" id="home">
          <songs-list songs="vm.songs"></songs-list>
        </div>
        <div role="tabpanel"
             ng-class="{'active': vm.activeTab === 'albums'}"
             class="tab-pane" id="profile">
          <albums-list albums="vm.albumsList"></albums-list>
        </div>
        <div role="tabpanel"
             ng-class="{'active': vm.activeTab === 'artists'}"
             class="tab-pane" id="messages">
          <artists-list artists="vm.artists"></artists-list>
        </div>
      </div>

    </div>
  </div>
</div>
