
  <div layout="row" layout-sm="column">
    <div flex="25" flex-sm="100" class="msl-sidebar">
        <genre-filter listener='vm'></genre-filter>
        <rating-filter listener='vm'></rating-filter>
    </div>

    <div flex="75" flex-sm="100" class="msl-main-content">
      <h1 class="md-display-2 msl-page-title" ng-hide="!!vm.filterModel.selectedGenreName">Featured</h1>

      <h1 class="md-display-2 msl-page-title" ng-show="!!vm.filterModel.selectedGenreName">{{vm.filterModel.selectedGenreName}}</h1>

      <md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedTab">
        <md-tab ng-click="vm.selectTab('songs');">
          <md-tab-label>
            <span>Songs</span>
          </md-tab-label>
          <md-tab-body>
            <div layout="row" layout-align="center center" ng-if="vm.songModel.isProcessing">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <songs-list songs="vm.songModel.songs" ng-if="!vm.songModel.isProcessing"></songs-list>
          </md-tab-body>
        </md-tab>
        <md-tab ng-click="vm.selectTab('albums');">
          <md-tab-label>
            <span>Albums</span>
          </md-tab-label>
          <md-tab-body>
            <div layout="row" layout-align="center center" ng-if="vm.albumModel.isProcessing">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <albums-list albums="vm.albumModel.albums" ng-if="!vm.albumModel.isProcessing"></albums-list>
          </md-tab-body>
        </md-tab>
        <md-tab ng-click="vm.selectTab('artists');">
          <md-tab-label>
            <span>Artists</span>
          </md-tab-label>
          <md-tab-body>
            <div layout="row" layout-align="center center" ng-if="vm.artistModel.isProcessing">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <artists-list artists="vm.artistModel.artists" ng-if="!vm.artistModel.isProcessing"></artists-list>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </div>
  </div>
