<md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
<table class="table table-striped song-table" ng-if="!loading">
  <thead>
  <tr>
    <th class="th-narrow"></th>
    <th class="th-narrow">Run Time</th>
    <th>Song</th>
    <th>Album</th>
    <th class="th-med">Rating</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="song in songs track by song.songId">
    <td>
      <play-button size="xs" song-id="song.songId"></play-button>
    </td>
    <td>{{song.duration | timeFilter: 'MM:SS'}}</td>
    <td>
      <a href="" ui-sref="msl.song({songId: song.songId})">
        {{song.songName}}
      </a>
    </td>
    <td>
      <a href="" ui-sref="msl.album({albumId: song.albumId})">
        {{song.albumName}}
      </a>
    </td>
    <td>
      <div star-rating="song.averageRating" personal-rating="song.personalRating" entity-id="song.songId" entity-type="song"></div>
    </td>
    <td>
      <a href="" ng-if="!song.inMyLibrary" add-to-library id="song.songId" type="song">
        <i class="material-icons">favorite</i> <span class="icon-label">Add to library</span>
      </a>
      <a href="" ng-if="song.inMyLibrary">
        <i class="material-icons">not_interested</i> <span class="icon-label">Remove from library</span>
      </a>
    </td>
  </tr>
  </tbody>
</table>
