<loading ng-if="loading"></loading>
<table class="table table-striped" ng-if="!loading">
  <thead>
  <tr>
    <th></th>
    <th>Run Time</th>
    <th>Song</th>
    <th>Album</th>
    <th>Rating</th>
    <th>Add to Library</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="song in songs track by song.songId">
    <td style="width: 100px;">
      <play-button size="xs" song-id="song.songId"></play-button>
    </td>
    <td>{{song.duration | timeFilter: 'MM:SS'}}</td>
    <td>
      <a href="" ui-sref="msl.song({songId: song.songId})">
        {{song.songName}}
      </a>
    </td>
    <td>
      <a href="" ui-sref="msl.album({albumId: song.albumId})">
        {{song.albumName}}
      </a>
    </td>
    <td>
      <div star-rating="song.averageRating" song-id="song.songId"></div>
    </td>
    <td>
      <a href="" add-to-library id="song.songId" type="song">
        <i class="fa fa-heart"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
