<md-dialog aria-label="LogIn"  ng-cloak id="login-modal">
  <form name="credentials" ng-submit="vm.submit()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>LogIn</h2>
        <span flex></span>
        <md-icon class="cancel-button" ng-click="vm.cancel()" md-font-set="material-icons" aria-label="Close dialog">clear</md-icon>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="form-group" ng-class="{'has-error': credentials.email.$invalid && credentials.email.$dirty}">
          <input type="email" name="email" ng-model="vm.email" class="form-control" placeholder="Email address" required autofocus>
          <div class="input-field-error" ng-messages="credentials.email.$error" ng-show="credentials.email.$dirty">
            <div ng-message="email">Should be a valid email format</div>
            <div ng-message="required">This is required!</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': credentials.password.$invalid && credentials.password.$dirty}">
          <input type="password" name="password" ng-model="vm.password" class="form-control" placeholder="Password" required>
          <div class="input-field-error" ng-messages="credentials.password.$error" ng-show="credentials.password.$dirty">
            <div ng-message="required">This is required!</div>
          </div>
        </div>
        <div class="alert alert-danger" ng-if="vm.hasError" role="alert">
          <strong>Oh snap!</strong>
          Credentials are invalid!
        </div>
      </div>
    </md-dialog-content>
    <md-dialig-actions class="md-actions" layout="row">
      <md-button name="login" class="md-primary md-raised" type="submit" ng-disabled="credentials.$invalid">
        Sign in
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
