<div ng-controller="homeCtrl as home">
  <div class="row">
    <div class="col-xs-12">
      <h1>Home Page Layout 1</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="i in home.getNumber(home.itemsCount) track by $index">
      <div class="image-container">
        <img class="img-responsive" src="" alt="" />
      </div>
      <h3 class="track-id">Track ID</h3>
      <p>Artist Name</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>Home Page Layout 2</h1>
    </div>
  </div>

  <div class="row">
    <div class="horizontal-layout col-xs-12 col-lg-6" ng-repeat="i in home.getNumber(home.itemsCount) track by $index">
      <div class="image-container small-image">
        <img class="img-responsive" src="" alt="" />
      </div>
      <div class="track-info">
        <div class="track-artist-name-container">
          <h2>Track ID</h2>
          <p>Artist Name</p>
        </div>
        <div>
          <span class="text-gray">7:21</span> | <span class="text-gray">Genre Name</span>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
