// ==========================================================================
// Components
// ==========================================================================

// Category title
//
// Element for showing category title, eg. Genre, Duration, Artist ect.
//
// Markup:
// <span class="item-name">Duration</span>
// <p>7:21</p>
//
// Styleguide 3.1

.item-name {
  color: $color-text-grey;
  text-transform: uppercase;
  font-size: 16px;
}

// Image container
//
// Element for showing image of Artist / Song / Album.
//
// .small-image - class makes image container to be `150px` width and height instead of default
// `200px`.
// .image-container-margin - class adds `margin-bottom: 10px`
//
// Markup:
// <div class="image-container {{modifier_class}}">
//   <img class="img-responsive" src="" alt="" />
// </div>
//
// Styleguide 3.2

$image-size-lg: 200px;
$image-size-sm: 150px;

.image-container {
  width: 100%;
  height: $image-size-lg;
  background-color: $gray-2;
  position: relative;
  overflow: hidden;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.image-container-margin {
  margin-bottom: 10px;
}

.small-image {
  width: $image-size-sm;
  height: $image-size-sm;
}

// Box View List of Elements (layout 1)
//
// List of box style elements, for example: Song list.
//
// Markup:
// <div class="media-box">
//   <md-card>
//     <div class="media-box-inner">
//       <img class="media-box-inner-image" ng-src="{{song.imageLink}}" alt="{{ song.artistName }}"/>
//       <div class="media-box-meta">
//         <a href="#">
//             Song Name
//         </a>
//         <span class="media-box-track-length">3:15</span>
//       </div>
//       <div class="media-box-overlay">
//         <div class="media-box-overlay-control">
//           <i class="fa fa-play"></i> Play
//         </div>
//         <div class="media-box-overlay-control">
//           <a href="" add-to-library id="song.songId" type="song">
//             <i class="fa fa-heart"></i> Add to library
//           </a>
//         </div>
//       </div>
//     </div>
//   </md-card>
//   <div class="info-panel">
//     <div><a href="#">Artist Name</a></div>
//     <div>Song Name: Album Name, 1990</div>
//     <ul class="star-rating list-unstyled">
//       <li><button type="button" class="btn fa fa-star"></button></li>
//       <li><button type="button" class="btn fa fa-star"></button></li>
//       <li><button type="button" class="btn fa fa-star"></button></li>
//       <li><button type="button" class="btn fa fa-star-o"></button></li>
//       <li><button type="button" class="btn fa fa-star-o"></button></li>
//     </ul>
//   </div>
// </div>
//
// Styleguide 3.3



// List of elements (layout 2, horizontal)
//
// List of elements, for example: Song list. Uses `[Image container]` for
// showing image.
//
// Markup:
// <div class="horizontal-layout">
//   <div class="image-container small-image">
//     <img class="img-responsive" src="" alt="" />
//     <div class="image-overlay">
//       <div class="overlay-control first-control">
//         <i class="fa fa-play"></i> Play
//       </div>
//       <div class="overlay-control">
//         <i class="fa fa-heart"></i> Add to library
//       </div>
//     </div>
//   </div>
//   <div class="track-info">
//     <div class="track-artist-name-container">
//       <h2>Track ID</h2>
//       <p>Artist Name</p>
//     </div>
//     <div>
//       <span class="text-gray">7:21</span> | <span class="text-gray">Genre Name</span>
//     </div>
//   </div>
//   <div class="clear"></div>
// </div>
//
// Styleguide 3.4

.horizontal-layout {
  padding-bottom: 10px;

  .image-container {
    float: left;
    margin-right: 10px;
  }

  .track-info {
    float: none;
    overflow: hidden;
    word-wrap: break-word;

    h2 {
      margin-top: 5px;
    }

    .track-artist-name-container {
      min-height: 120px;

    }
  }
}

.song-box,
.album-box,
.media-box {
  margin-bottom: 1em;
}

.media-box:focus {
  outline: 0;
  md-card {
    outline: 1px solid $black;
  }
}

.media-box-inner {
  background-color: #ccc;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

  .media-box-inner-image {
    height: 100%;
    position: absolute;
    width: auto;
    left: 50%;
    transform: translate(-50%);
  }

  .media-box-meta {
    background-color: rgba(0,0,0,.75);
    bottom: 0;
    color: $white;
    left: 0;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    z-index: 2;

    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .media-box-track-length {
    background: $black;
    bottom: 0;
    font-size: 14px;
    min-width: 40px;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }

  .media-box-overlay {
    background-color: rgba($black,.8);
    bottom: 0;
    color: $white;
    display: none;
    left: 0;
    padding: 20% 10%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    .media-box:hover & {
      display: block;
    }
  }

    .media-box-overlay-control {
      cursor: pointer;
      margin-bottom: 8px;

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          color: $orange-1;
          text-decoration: none;
        }
      }
    }


.info-panel {
  padding: 0 8px;

  .header {
    height: 50px;
    overflow: hidden;
    border: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .container-duration {
      text-align: center;
      padding: 0.25em;
      height: 100%;
      float: left;
      background-color: gray;

    }
    .container-title {
      text-align: center;
      padding: 0.25em;
      height: 100%;
      float: left;
    }
  }
  .content {
    .secondary-content {
      height: 50px;
    }
  }

}

// List of elements (layout 3, list)
//
// List of elements, for example: Song list. Uses `[Image container]` for
// showing image.
//
// Markup:
// <table class="list-layout">
//   <thead>
//     <tr>
//       <th> # </th>
//       <th> Song </th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td class="marker"> 1 </td>
//       <td>
//         <div class="image-container small-image">
//           <img class="img-responsive" src="" alt="" />
//           <div class="image-overlay">
//             <div class="overlay-control first-control">
//               <i class="fa fa-play"></i> Play
//             </div>
//             <div class="overlay-control">
//               <i class="fa fa-heart"></i> Add to library
//             </div>
//           </div>
//         </div>
//         <div class="track-info">
//           <div class="track-artist-name-container">
//             <h2>Track ID</h2>
//             <p>Artist Name</p>
//           </div>
//           <div>
//             <span class="text-gray">7:21</span> | <span class="text-gray">Genre Name</span>
//           </div>
//         </div>
//       </td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 3.5

.list-layout {
  width: 90%;
  margin: 0 auto;

  th {
    font-size: 2em;
    font-weight: normal;

    &:first-child {
      text-align: center;
    }
  }

  td {
    border-top: 1px solid $gray-3;
    border-bottom: 1px solid $gray-3;
  }

  .marker {
    font-size: 4em;
    width: 55px;
    text-align: center;
  }

  .image-container {
    float: left;
    margin-right: 10px;
  }

  .track-info {
    float: left;
  }
}

// Navigation Bar
//
// Angular Material markup for top navigation bar.
//
// markup:
// <nav class="container msl-main-nav">
//   <md-toolbar>
//     <div class="md-toolbar-tools">
//       <h2>
//         <a href="#">Million Songs Library</a>
//       </h2>
//       <span flex></span>
//       <md-button ui-sref="msl.login" ui-sref-active="active">
//         Login
//       </md-button>
//       <md-button aria-label="Register">
//         Register
//       </md-button>
//     </div>
//   </md-toolbar>
// </nav>
//
// Styleguide 3.6


// KSS doesn't render this properly due to the angular directives
// so we will hide the rendering to reduce confusion

#kssref-3-6 .kss-modifier__wrapper {
  display: none;
}
.kz-logo {
  display: block;
  float: left;
  margin-right: 30px;
  padding: 0.9375rem;
  width: 170px;

  img {
    max-width: 100%;
  }
}

.msl-main-nav {
  background-color: $white;
  padding: 0;
}

.msl-title {
  display: block;
  float: left;
  font-size: 2.75rem;
  font-weight: 200;
  height: 66px;
  padding-top: 12px;

  @include pseudo-class {
    color: $orange-1;
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 0px;
  background-color: $gray-3;
  border: none;
  padding: 0;

  .container {
    background-color: $white;
    border-bottom: 5px solid $orange-1;
    padding-left: 0;
    padding-right: 0;

    @include breakpoint($bp-small) {
      padding-left: .9375rem;
    }
  }

  .navbar-brand {
    padding: 10px 0 10px 15px;

    @include breakpoint($bp-small) {
      padding: 10px 0;
    }
  }

  a {
    color: $blue-1;
  }

  .navbar-nav {
    clear: both;
    float: left;
    width: 100%;

    @include breakpoint($bp-small) {
      clear: none;
      float: right;
      width: auto;
    }

    .nav-item + .nav-item {
      margin-left: 1%;

      @include breakpoint($bp-small) {
        margin-left: 5px;
      }
    }

    li {
      background-color: #DEE0E2;
      width: 49.5%;

      &.active a {
        background-color: #333E48;
        color: $white;
      }

      @include breakpoint($bp-small) {
        margin-left: 5px;
        width: auto;
      }

      a {
        height: 45px;
        font-weight: bold;
        line-height: 45px;
        padding: 0;
        text-align: center;

        &:hover {
          color: $white;
          background-color: #333E48;
        }

        @include breakpoint($bp-small) {
          height: 90px;
          line-height: 90px;
          width: 140px;
        }
      }
    }
  }
}

// Sidebar
//
// Left facet/filter bar Angular Material markup
//
// Markup:
// <div flex="25" flex-sm="100" class="msl-sidebar">
//     <genre-filter listener='vm'></genre-filter>
//     <rating-filter listener='vm'></rating-filter>
// </div>
//
// Styleguide 3.7

// KSS doesn't render this properly due to the angular directives
// so we will hide the rendering to reduce confusion
#kssref-3-7 .kss-modifier__wrapper {
  display: none;
}

.msl-sidebar {
  border-right: 1px solid $gray-3;
  color: $blue-3;

  h3 {
    font-size: 1.5rem;
    font-weight: 200;
  }

  ul {
    list-style: none;
    padding: 0px;

    li {
      line-height: 1.4;
      a {
        color: $orange-2;
        display: inline-block;
        text-decoration: none;

        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

.msl-sidebar,
.msl-main-content {
  padding: 0 0.9375rem 20px;

  @include breakpoint($bp-large) {
    padding: 0 0.9375rem;
  }
}

// Content Tabs
//
// Angular Material markup for content tabs
//
// Markup:
// <md-tabs md-dynamic-height md-border-bottom>
//   <md-tab>
//     <md-tab-label>
//       Songs
//     </md-tab-label>
//     <md-tab-body>
//       Song Content
//     </md-tab-body>
//   </md-tab>
//   <md-tab>
//     <md-tab-label>
//       Albums
//     </md-tab-label>
//     <md-tab-body>
//       Album Content
//     </md-tab-body>
//   </md-tab>
//   <md-tab>
//     <md-tab-label>
//       Artists
//     </md-tab-label>
//     <md-tab-body>
//       Artist Content
//     </md-tab-body>
//   </md-tab>
// </md-tabs>
//
// Styleguide 3.11

.tab-content {
  padding: 2em 1em 1em;
}

// KSS doesn't render this properly due to the angular directives
// so we will hide the rendering to reduce confusion
#kssref-3-11 .kss-modifier__wrapper {
  display: none;
}

// Buttons
.btn-facet-clear {
  display: inline-block;
  float: right;
  font-size: 20px;
  line-height: 18px;
  margin: 2px 0;
  min-height: 18px;
  min-width: 18px;
}

// Slick Carousel Overrides
.slider-header {
  margin: 10px 0 10px 7px;
}

.slick-prev:before,
.slick-next:before {
  color: $black;
}

.my-library-header {
  margin-left: 7px;
}