@import "core";

html, body {
  background-color: $gray-3;
}

.navbar-brand {
  overflow: hidden;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

md-card {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.layout-container {
  background-color: $white;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em 0;
}

.msl-box-grid {
	margin-left: -16px;
}

.msl-box-grid-title {
	margin: 2em 0 0;
}

.msl-padding {
	padding: 0 0.9375rem;
}

.song-table {
	border-spacing: 0;
	margin: 20px 0;
	width: 100%;

	th {
		background-color: $gray-3;
		text-align: left;
		min-width: 15%;

		&.th-narrow {
			width: 105px;
		}

		&.th-med {
			width: 125px;
		}
	}

	th, td {
		border-bottom: 1px solid $gray-3;
		padding: 5px 0;
	}
}

.msl-play-btn {
	margin-left: 0;
	.icon-label {
		line-height: 1.5;
	}
}

.input-field-error{
  color: #c60000;
  font-weight: bold;
  font-size: smaller;
}
