
// ==========================================================================
// Typography
// ==========================================================================

// Default font style
//
// Markup:
// <p>This is the default font style.</p>
//
// Styleguide 2.1

body {
  font-family: $defaultFont;
  -webkit-font-smoothing: antialiased;
  color: $black;
}


// Headlines
//
// Markup:
// <h1>h1 - Headline one</h1>
// <h2>h2 - Headline two</h2>
// <h3>h3 - Headline three</h3>
// <h4>h4 - Headline four</h4>
// <h5>h5 - Headline five</h5>
// <h6>h6 - Headline six</h6>
//
// Styleguide 2.2

h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: $defaultFont;
}

h1, .h1 {
  color: $blue-3;
  font-weight: 400;
}

.msl-page-title {
  margin-top: 1rem;
}

// Text colors
//
// .text-black - Sets text color to `$black`
// .text-gray -  Sets text color to `$gray-1`
// .text-white -  Sets text color to `$white`
//
// Markup:
// <p class="{{modifier_class}}">Lorem Ipsum is simply dummy text...</p>
//
// Styleguide 2.3

.text-black {
  color: $black;
}
.text-gray {
  color: $gray-1;
}
.text-white {
  color: $white;
}

// Link colors
//
// Link colors are text colors with project standard hover/active/focus state
// colors
//
// .link-black - Sets text color, including hover to `$black`
// .link-gray - Sets text color, including hover to `$gray-1`
//
// Markup:
// <a href="#" class="{{modifier_class}}">Lorem Ipsum is simply dummy text...</a>
//
// Styleguide 2.4

.link-black {
  color: $black;
  @include pseudo-class {
    color: $black;
  }
}
.link-gray {
  color: $gray-1;
  @include pseudo-class {
    color: $gray-1;
  }
}

a {
  color: $blue-2;
  @include pseudo-class {
    color: $blue-2;
  }
}