
// ==========================================================================
// Variables
// ==========================================================================

// Colors - Raw
//
// These are the lowest level color variables.
//
// <ul class="list-unstyled">
//   <li>
//     <div class="color-sample" style="background-color: #FF9800;">
//       <strong>$orange-1</strong> #FF9800
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #E65100;">
//       <strong>$orange-2:</strong> #E65100
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #2196F3;">
//       <strong>$blue-1:</strong> #2196F3
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #0D47A1;">
//       <strong>$blue-2:</strong> #0D47A1
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #263238;">
//       <strong>$blue-3:</strong> #263238
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #000000;">
//       <strong>$black:</strong> #000000
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #777777;">
//       <strong>$gray-1:</strong> #777777
//     </div>
//   </li>
//   <li>
//     <div class="color-sample-light" style="background-color: #CCCCCC;">
//       <strong>$gray-2:</strong> #CCCCCC
//     </div>
//   </li>
//   <li>
//     <div class="color-sample-light" style="background-color: #E7E7E7;">
//       <strong>$gray-3:</strong> #E7E7E7
//     </div>
//   </li>
//   <li>
//     <div class="color-sample-light" style="background-color: #F8F8F8;">
//       <strong>$gray-4:</strong> #F8F8F8
//     </div>
//   </li>
//   <li>
//     <div class="color-sample-light" style="background-color: #FFFFFF;">
//       <strong>$white:</strong> #FFFFFF
//     </div>
//   </li>
// </ul>
//
// Styleguide 1.1

$orange-1: #FF9800;
$orange-2: #E65100;
$blue-1: #2196F3;
$blue-2: #0D47A1;
$blue-3: #263238;
$black: #000000;
$gray-1: #777777;
$gray-2: #CCCCCC;
$gray-3: #e7e7e7;
$gray-4: #f8f8f8;
$white: #ffffff;

$brand-primary: $blue-1;

// Colors - Semantic
//
// Semantic color variables map to both generic and raw color variables, and
// allow us to name values based on their intended application.
//
// <ul class="list-unstyled">
//   <li>
//     <div class="color-sample" style="background-color: #000000;">
//       <strong>$color-text:</strong> $black
//     </div>
//   </li>
//   <li>
//     <div class="color-sample" style="background-color: #777777;">
//       <strong>$color-text-grey:</strong> $gray-1
//     </div>
//   </li>
// </ul>
//
// Styleguide 1.2

$color-text: $black;
$color-text-grey: $gray-1;

.color-sample-light,
.color-sample {
  padding: 10px 16px;
  color: $black;
}
.color-sample {
  color: $white;
}



// Typography
//
// ```
// $defaultFont: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $baseFontSize: 14px;
// ```
//
// Styleguide 1.3

$defaultFont: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 14px;


// Media Query Breakpoints
//
// ```
// $bp-small: 576px;
// $bp-medium: 768px;
// $bp-large: 992px;
// $bp-xlarge: 1200px;
// ```
//
// Styleguide 1.4

$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
