<div ng-controller="loginCtrl as login">
  <h1 class="text-center">Log Into Million Song Library</h1>
  <div class="login-max-container text-center">
    <h5>Log in with your social accounts</h5>
    <button class="btn btn-default btn-block" ng-click="login.loginWithGoogle()">
      <i class="fa fa-fw fa-google"></i>
      Login with Google
    </button>
    <button class="btn btn-default btn-block" ng-click="login.loginWithFacebook()">
      <i class="fa fa-fw fa-facebook"></i>
      Login with Facebook
    </button>
  </div>
</div>
